-e .[all]
coverage==7.13.1
mypy==1.19.1
pdoc==16.0.0
pip==25.3
pre-commit==4.5.1
pytest-cov==7.0.0
pytest==9.0.2
ruff==0.14.10

aiohttp==3.13.2
mashumaro==3.17
pytest-aiohttp==1.1.0

# For user management CLI
pyyaml>=6.0
PyJWT==2.10.1
